
body { 
    background-color:bisque;
}
.card{
    width: 800px;
    margin: auto;

}
.heading {
    background-color: brown;
    border-radius: 1rem; 
    color: white;
   
}
.bilgi {
    text-decoration: underline;
}

body {
    list-style-position: inside
}
.afiyet{
    float: right;
    padding-right: 50px;
}